html{
    height: 100%;
}
body{
    height: 100%;
}

/*整体大背景是灰色*/
.front-body{
    background-color: #ddd;
}

/*整体布局位于中部*/
.all-content{
    width: 1200px;
    height: 100%;
    margin:0 auto;
    overflow: auto;
    background-color: #ffffff;
}
/*内容布局*/
.front-content{
    padding-top: 55px;
    padding-left:15px;
    padding-right:15px;
    padding-bottom:30px;
}

/*灰色分割线*/
.grey-line{
    height:1px;
    width:100%;
    background-color:#ddd;
    margin-top:10px;
    margin-bottom: 10px;
}

/*商标样式*/
.navbar-header a{
    color:#ffffff;
    margin-left:15px !important;
    margin-right: 0px !important;
}

/*导航栏右边样式*/
.navbar-nav li a{
    color:#ffffff;
}
.navbar-right{
    margin-right: 0 !important;
}
.green>ul>li>a{
    background-color: #2e8965;
}
.green>ul>li>a:focus,.green>ul>li>a:hover{
    background-color: #2C7659 !important;
}
.navbar-blue{
    background-color: #269abc;
    border-color: #337ab7;
    width:1200px!important;
    height: 51px!important;
    margin: auto;
}

/*按钮事件*/
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #269abc !important;
    border-color: #269abc !important;
}
.btn-main:focus,.btn-main:hover{
    color:#ffffff !important;
    background-color: #269abc !important;
}