.navbar-color{
    background-color: #269abc;
    border-color: #337ab7;
}
.navbar-header a{
    color:#ffffff;
}


.navbar-blue{
    background-color: #269abc;
    border-color: #337ab7;
}
.navbar-header a{
    color:#ffffff;
    margin-left:15px !important;
    margin-right: 0px !important;
}
.navbar-nav li a{
    color:#ffffff;
}
.navbar-right{
    margin-right: 0 !important;
}
.green>ul>li>a{
    background-color: #2e8965;
}
.green>ul>li>a:focus,.green>ul>li>a:hover{
    background-color: #2C7659 !important;
}
.navbar-toggle{
    background-color: #ffffff !important;
}
.icon-bar{
    background-color:#0da3e2;
}
.list-group-item {
    border-radius:0!important;
}
.front-body{
    background-color: #ddd;
}
.nav-left-sub {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.nav-left .list-group-item {
    border-radius: 0;
}
.nav-left span.glyphicon {
    float: right;
}

.nav-left .nav-left-sub {
    display: none;
    margin-bottom: -1px;
}
.nav-left-sub .list-group-item {
    border: none;
}
.nav-left-sub.open {
    display: block;
}

.left-size{
    width:180px;
    padding-right: 0px !important;
    padding-left: 0px !important;
    float:left;
    margin:0;
    background-color: #d43f3a !important;
    min-height: 1px;
}
.front-content{
    padding-top: 15px;
    padding-left:195px;
    padding-right:15px;
}

.btn-active{
    color:#ffffff !important;
    background-color: #269abc !important;
}
.btn-main:focus,.btn-main:hover{
    color:#ffffff !important;
    background-color: #269abc !important;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #269abc !important;
    border-color: #269abc !important;
}
.container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
    width:1200px!important;
    height: 51px!important;
}
.front-whole{
    width:1200px;
    margin-top: 51px;
}
.all-content{
    width: 1200px;
    height: 100%;
    max-height: 100%;
    margin: auto;
    overflow: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: #ffffff;
}
select {
    width: 300px!important;
    background-color: #fff;
    border: 1px solid #ccc;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
}
input{
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
}
.navbar-right {
    float: right!important;
    margin-right: -15px;
}
.navbar-nav {
    float: left;
    margin: 0;
}
.form-control{
    width:300px !important;
}
pre{
    width:600px;
}
#ui-datepicker-div{
    z-index: 101 !important;
}
/*.has-switch label{*/
/*index:0 !important;*/
/*}*/
.glyphicon {
    top: 2px !important;
}